:root {
  --textColor: #333;
  --background-light-white: rgb(226, 226, 226);
  --background-dakrMode: #001414;
  --buttonColor-lightmode: #14f7ff;
  --textHeadingColors: #08e463;
  --textSubColor: #0bc844;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 10px;
  background-color: var(--background-light-white);
}

.nav-bar {
  display: flex;
}

.nav-bar li label{
  cursor: pointer;
  align-items: center;
}

.nav-bar li svg{
  align-items: center;
}


ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor:pointer;
}

.main-content {
  margin-top:80px;  
}

.profile {
  display: flex;
  justify-content: space-around; 
}

.profile img {
  display: flex;
  border-radius: 50px;
  border: green solid 0.1em;
}

.text-container {
  max-width: 600px;
  height: 300px;
  width: 100%;
  gap: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 15px;

}
.text-container h2 {
  color: var(--textHeadingColors);
  text-shadow: 0 0 0.2em #fff7, 0 0 0.2em #6ab187;
  
}

.text-container span {
  color: var(--textSubColor);
  text-shadow: 0 0 0.2em #fff7, 0 0 0.1em #6ab187;
  
}

/* .main-content button {
  color: var(--buttonColor-lightmode);
  background-color: var(--background-dakrMode);
  padding: 0.25em 1em;
  margin: 45px;
  margin-top: 20px;
  cursor: pointer;
  border: var(--buttonColor-lightmode) 0.125em solid;
  border-radius: 0.25em;
  text-shadow: 0 0 0.2em #fff7, 0 0 0.3em var(--buttonColor-lightmode);
  box-shadow: inset 0 0 0.5em #fff7, 0 0 0.5em var(--buttonColor-lightmode);
} */

.btn-view-container {
  width: 50%;
}

.main-content button {
  color: #fff;
  background-color: #4a996b;
  padding: 0.25em 0.5em;
  cursor: pointer;
  border: #31473a 0.125em solid;
  border-radius: 0.25em;
  text-shadow: 0 0 0.2em #fff7, 0 0 0.3em #6ab187; /* Light green text shadow */
  box-shadow: inset 0 0 0.5em #fff7, 0 0 0.5em #6ab187; /* Light green box shadow */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.main-content button:hover {
  background-color: #4a6d54; /* A slightly lighter shade on hover */
  border-color: #4a6d54;
  box-shadow: inset 0 0 0.5em #fff7, 0 0 0.5em #97bc62;
}

/* Links das redes sociais */
.social-media {
  position: fixed;
  top: 354px;
  right: 280px;
  left: 263px;
  bottom: 220px;
}

.social-media svg {
  width: 25px;
}
